body{
    background-image: url("https://img.freepik.com/free-photo/blue-background-watercolors-christmas_1048-3836.jpg?t=st=1733386142~exp=1733389742~hmac=5d68e572984b32a14c1781eec196a185520d90bc48dfb22f0e465f11346212d7&w=2000");
    background-size: cover;
    background-repeat: no-repeat;
}
.h1-1{
    color:rgb(126, 0, 175);
    text-align: center;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-top: 200px;
    font-family:'Courier New', Courier, monospace;
}
.h1-2{
    text-align: right;
    border-radius: 10px;
    color: rgb(226, 174, 17);
    font-family: Impact;
}
.h1-3{
    text-align: left;
    border-radius: 10px;
    color: rgb(9, 118, 4);
    font-family: Impact;
}
.h1-4{
    text-align: center;
    border-radius: 10px;
    font-family: Impact;
}
.h1-5{
    text-align: right;
    border-radius: 10px;
    color: rgb(156, 7, 54);
    font-family: Impact;
}

.foto1{
    position: absolute;
    bottom: 60%;
    right: 1%;
}
.TUTE{
    position: absolute;
    left: 50px;
    top: 80px;
    font-size: 40px;
    font-family: cursive ;
    background-color: rgba(172, 255, 227, 0.558);
    border: 5px double rgb(106, 92, 234);
    color:rgb(255, 183, 74);
    text-decoration: none;
}
.TUTE:hover{
    color:rgb(126, 0, 175);
    font-size: 50px;
}
.foto2{
    position: absolute;
    bottom: 80%;
    right: 58%;
}
.foto3{
    position: absolute;
    bottom: 73%;
    right: 90%
}
.b1{
    text-align: center;
    border-radius: 10px;
    color: rgb(122, 24, 215);
    font-family: Impact;
}
#demotext {
    color: hsl(0, 22%, 65%);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: hsl(0, 22%, 65%);
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
}



nav ul{
    display: flex;
    background-color: rgba(46, 70, 143, 0.51);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border: 3px double rgba(0, 238, 255, 0.678);
}
nav li{
    display: block;
    padding: 20px;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}
nav li a{
    text-decoration: none;
    color: rgb(98, 40, 231);
    font-family: cursive ;
}

nav a:hover{
    color:rgb(111, 2, 48);
    font-size: 30px;
}
nav a:active{
    color: brown;
}
li:hover ul{
    display: block;
}
nav li ul{
    display: none;
    position: absolute;
    left: 34%;
    top: 60%;
    padding: 20px;
}
footer{
    color: blueviolet;
    margin-top: 20%;
}