body{
    background-image: url("https://cdn.pixabay.com/photo/2016/04/22/22/11/dandelion-1346727_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.spisok1{
    text-align: left;
    color:goldenrod;
    font-family: monospace;
    font-size: 20;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok2{
    text-align: left;
    color:rgb(77, 247, 236);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok3{
    text-align: left;
    color:rgb(247, 110, 140);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok4{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.h1-1{
    text-align: center;
    color:rgb(155, 250, 222);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
.spisok4l1{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
}
.conteiner1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 1px;
    border-radius: 10px;
    justify-content: center;
}
.conteiner1 div{
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
.conteiner1 .sp2{
    padding: 30px;
    text-align: center;
    color:rgb(255, 255, 0);
    font-family: cursive;
    font-size: 30px;
    border: 3px dashed red;
    background-color: rgba(255, 81, 0, 0.277);
    
}
.conteiner1 .sp{
    padding: 50px;
    text-align: left;
    color:rgb(5, 48, 8);;
    font-family: monospace;
    font-size: 27px;
    border: 2px solid rgb(0, 255, 213);
    background-color: rgba(5, 255, 59, 0.277);
    margin-left: 52px;
}
footer .h1-4{
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 40px;
    border: 2px dashed whitesmoke;
    font-family:'Courier New', Courier, monospace;
}
footer{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.conteiner1 .sp3{
    padding: 50px;
    text-align: center;
    color:rgb(157, 219, 34);;
    font-family: impact;
    font-size: 27px;
    border: 2px solid rgb(241, 199, 136);
    background-color: rgba(101, 5, 255, 0.291);
    margin-left: 52px;
}
.foto1{
    position: absolute;
    top: 270px;
    right: 1170px;
}