body{
    background-image: url("https://img.freepik.com/free-photo/blue-background-watercolors-christmas_1048-3836.jpg?t=st=1733386142~exp=1733389742~hmac=5d68e572984b32a14c1781eec196a185520d90bc48dfb22f0e465f11346212d7&w=2000");
    background-size: cover;
    background-repeat: no-repeat;
}
.h1-1{
    color:rgb(126, 0, 175);
    text-align: center;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-top: 200px;
    font-family:'Courier New', Courier, monospace;
}
.h1-2{
    color:rgb(234, 255, 0);
    text-align: right;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    font-size: 40px;
    margin-left: 100px;
    font-family:'Courier New', Courier, monospace;
}
.h1-3{
    color:rgb(21, 195, 73);
    text-align: left;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-left: 450px;
    font-family:'Courier New', Courier, monospace;
}
.h1-4{
    color:rgb(41, 204, 180);
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-left: 555px;
    font-family:'Courier New', Courier, monospace;
}