body{
    background-image: url("https://img.freepik.com/free-vector/watercolor-winter-season-celebration-background_23-2149872808.jpg?t=st=1733386374~exp=1733389974~hmac=3ab3e798775b4b12125fe7ef6d2c7451716ec066e41948b7e24973d394e6e130&w=1800");
    background-size: cover;
    background-repeat: no-repeat;
}
.spisok1{
    text-align: left;
    color:goldenrod;
    font-family: monospace;
    font-size: 20;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok2{
    text-align: left;
    color:rgb(77, 247, 236);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok3{
    text-align: left;
    color:rgb(247, 110, 140);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok4{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.h1-1{
    text-align: center;
    color:rgb(155, 250, 222);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
.spisok4l1{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
}
.conteiner1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 1px;
    border-radius: 10px;
    justify-content: center;
}
.conteiner1 div{
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
.conteiner1 .sp2{
    padding: 30px;
    text-align: center;
    color:rgb(255, 255, 0);
    font-family: impact;
    font-size: 60px;
    border: 3px dashed red;
    background-color: rgba(255, 81, 0, 0.277);
    
}
.conteiner1 .sp{
    padding: 50px;
    text-align: left;
    color:rgb(2, 152, 17);;
    font-family: monospace;
    font-size: 27px;
    border: 2px solid rgb(0, 255, 213);
    background-color: rgba(5, 255, 59, 0.277);
    margin-left: 52px;
}
.h1-4{
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 40px;
    margin-left: 555px;
    border: 2px dashed whitesmoke;
    font-family:'Courier New', Courier, monospace;
}
.conteiner1 .sp3{
    padding: 50px;
    text-align: center;
    color:rgb(74, 8, 154);;
    font-family: impact;
    font-size: 27px;
    border: 2px solid rgb(136, 170, 241);
    background-color: rgba(5, 243, 255, 0.291);
    margin-left: 52px;
}
.foto1{
    position: absolute;
    top: 270px;
    right: 1170px;
}