body{
    background-image: url("https://img.freepik.com/free-photo/aesthetic-leaf-watercolor-background-purple-winter-season_53876-126813.jpg?t=st=1733386623~exp=1733390223~hmac=358625311f57f67c476ee9b96b70e66c19b60b80b70a0044868a0bbc5b1cb5d0&w=1800");
    background-size: cover;
    background-repeat: no-repeat;
}
.cyberbankleadorboard1{
    text-align: center;
    color:rgb(251, 234, 89);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok1{
    text-align: left;
    color:rgb(255, 85, 0);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok2{
    text-align: left;
    color:rgb(0, 247, 255);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok3{
    text-align: left;
    color:rgb(179, 255, 0);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok4{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.h1-4{
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 40px;
    margin-left: 555px;
    border: 2px dashed whitesmoke;
    font-family:'Courier New', Courier, monospace;
}