body{
    background-image: url("https://cdn.pixabay.com/photo/2022/05/08/10/12/spring-7181766_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cyberbankleadorboard1{
    text-align: center;
    color:rgb(251, 234, 89);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok1{
    text-align: left;
    color:rgb(255, 85, 0);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
#spisok2{
    text-align: left;
    color:rgb(18, 46, 4);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
#spisok3{
    text-align: left;
    color:rgb(0, 0, 0);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.spisok4{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: 25px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}
.h1-4{
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 40px;
    margin-left: 555px;
    border: 2px dashed whitesmoke;
    font-family:'Courier New', Courier, monospace;
}